<footer class="footer">
	<div class="content" >
		<div class="copyright">
			<div class="social" fxLayout="column" fxLayoutAlign=" stretch">
				<a href="https://www.facebook.com/OpahIt/" target="_blank" class="facebook" title="Facebook"
					rel="noopener noreferrer"></a>
				<a href="https://www.instagram.com/opahitdigital/" target="_blank" class="instagram" title="Instagram"
					rel="noopener noreferrer"></a>
				<a href="https://pt.linkedin.com/company/opah-consulting/" target="_blank" class="linkedin"
					title="LinkedIn" rel="noopener noreferrer"></a>
				<a href="https://www.youtube.com/" target="_blank" class="youtube" title="YouTube"
					rel="noopener noreferrer"></a>
			</div>
			<div class="teste">
				<p>Av. Eng. Luis Carlos Berrini 936 – 12º andar <br>
					CEP 04571.000 – São Paulo <br>
					T. (11) 2806.3849</p>
			</div>
		
		</div>
	</div>
</footer>