<div class="popup"(click)="closePop()" id="popupX">
  <div class="eIcon"   >&times;</div>
  <section class="section-pop-up">
    <div class="column-gap-pop-up">
      <div class="top-column">
        <div class="widget-wrap">
          <div class="widget-heading">
            <div class="widget-container-1">
              <div class="heading-title">Já conhece a nossa newsletter?</div>
            </div>
          </div>
          <div class="widget-heading-animated">
            <div class="widget-container-2">
              <p class="heading-title-size-default">Não perca tempo! Assine agora e fique por dentro
                de tudo que acontece no mercado de tecnologia!</p>
            </div>
          </div>
          <div class="animated-fast" >
            <div class="widget-container-3">
              <form class="form-pop" method="post" name="Coupon Form">
                <input type="hidden" name="post_id" value="4014">
                <input type="hidden" name="form_id" value="befc345">
                <input type="hidden" name="referer_title" value="">

                <input type="hidden" name="queried_id" value="3960">

                <div class="form-fields-wrapper">
                  <div class="field-type-email">
                    <label for="form-field-email" class="field-label-screen-only">
                      Email </label>
                    <input size="1" type="email" name="form_fields[email]" id="form-field-email"
                      class="field-size-sm-field-textual" placeholder="Seu melhor e-mail" required="required"
                      aria-required="true">
                  </div>
                  <div class="field-type-acceptance">
                    <label for="form-field-field_b1c201c" class="field-label-screen-only">
                      LGPD </label>
                    <div class="field-subgroup">
                      <span class="field-option">
                        <input type="checkbox" name="form_fields[field_b1c201c]" id="form-field-field_b1c201c"
                          class="field-size-sm-acceptance-field" required="required" aria-required="true">
                        <label for="form-field-field_b1c201c" class="field-label-screen-only-check">Eu autorizo a Opah a usar meus dados para envio de
                          conteúdos personalizados para mim.</label> </span>
                    </div>
                  </div>
                  <div class="field-group-field-type-submit">
                    <button type="submit" class="button-size-sm">
                      <span>
                        <span class="align-icon-right-button-icon">
                          <i aria-hidden="true" class="fas fa-chevron-right"></i> </span>
                        <span class="button-text">Enviar</span>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>