<section class="site-header">
  <div class="header-navbar">
    <div class="logo-opah">
      <img src="../../../../assets/opah-logo-branco.png" alt="OpahLogoBranco" />
    </div>
    <div class="header-navbar__menu">
      <div class="menu-item">
        <a href="home">Home</a>
      </div>
      <div class="menu-item">Sobre Nós</div>
      <div class="menu-item">Vagas</div>
      <div class="menu-item">Blog</div>
      <div class="menu-item">Contato</div>
      <div class="menu-item">Entrar</div>
    </div>
  </div>
  <div class="titulo">VAGAS EM DESTAQUE</div>
</section>

<section class="container">
  <div class="card-vaga">
    <h2>Dev. Mobile Nativo (Android/iOS)</h2>
    <span class="card-requirements">
      <p>
        Controle de Versão com Git; Boas práticas com interfaces e experiência do usuário; Foco em
        Desenvolvimento Nativo; Vivência usando Kotlin e Swift. Background anterior de projetos
        mobile; Atuação em diferentes etapas do ciclo de vida de desenvolvimento de aplicativos;
        Vivência em projetos utilizando Metodologias ágeis.
      </p>
      <p>
        <strong>Desejável: </strong>Conhecimento em Desenvolvimento Híbrido; Conhecimento em React e
        Flutter.
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Desenvolvedor Mobile - IOS Sênior</h2>
    <span class="card-requirements">
      <p>
        Arquiteturas: MVVM e MVP;Conhecimento em Architecture Component;Clean Code e Clean
        Architecture; CI/CD;Gestão de dependências.
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Product Owner</h2>
    <span class="card-requirements">
      <p>
        Conhecimento e vivência em levantamento de hipóteses e detalhamento de requisitos; Vivência
        em metodologias ágeis e condução das cerimônias próprias do P.O.
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>UX/UI Sênior</h2>
    <span class="card-requirements">
      <p>
        Atuação no desenho de interfaces, Design Thinking e processo criativo. Já ter trabalhado com
        Figma. Levantamento de Necessidades do Usuário, Mapeamento de decisões e Design Visual .
        Pesquisas De Experiência Do Usuário (UX Research). Conhecimento em Design de Interação.
        Vivência com Aprimoramento de processos. Portfólio de projetos de design. Atuação prévia em
        gestão de projetos e pesquisa. Aptidão para resolver problemas. Habilidades de comunicação.
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Desenvolvedor Salesforce Sênior</h2>
    <span class="card-requirements">
      <p>
        Conhecimentos em desenvolvimento/programação; Classes Apex, Aura e LWC (lightning web
        componentes); Desenvolvimento de Triggers, Visualforce Pages, integrações com outras
        aplicações utilizando API REST ou SOAP; Conhecimento avançado em linguagens orientado a
        objeto; Process Builder, Workflow, Flow Builder, Regras de Validações e outras ferramentas
        lowcode da plataforma; Desejável conhecimento em salesforce DX; Conhecimento em SOQL; Design
        patterns, otimizações de código e boas praticas de desenvolvimento; Controle de segurança,
        criação e customização de objetos, layouts, tipos de registros, perfis, painéis e
        relatórios; Conhecimento consolidado na nuvem Service Cloud; Filas, marcos e processos de
        atendimento utilizando sla's.<br />
        <b>Diferenciais:</b> Conhecimento em omnichannel e Einstein; Certificações em Salesforce.
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Desenvolvedor Java Sênior</h2>
    <span class="card-requirements">
      <p>
        Banco de Dados Oracle; Java; Conhecimento do SDLC (Ciclo de Vida do Desenvolvimento de
        Software); Atuação com Projetos Ágeis; Cloud AWS como SQS, RDS, DynamoDB, S3, Lambda, API
        Gateway, etc; Metodologia Scrum, Kanban e Spotify; Microsserviços com SpringBoot, Java 11,
        Spring Security 5 (OAuth2, JWT), Spring Data JPA, Spring Batch; API Rest Full (modelagem de
        API), SOAP, Maven, JUnit, Mockito; CI/CD (Cloud Build; Git/GitFlow; Repositorios Azure; TDD;
        Postgre; Mysql, DynamoDB.
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Desenvolvedor Full Stack (Pleno e Sênior)</h2>
    <span class="card-requirements">
      <p>
        Vivência em Python 3; Testes automatizado de Software; Banco de dados NoSQL; Banco de dados
        relacionais; Soluções em APIs no padrão REST; Soluções com Mensageria; Versionamento de
        código com GIT; Vivência com criação de containers com Docker; Infra-estrutura em Cloud
        (Preferência com GCP); Vivência com tecnologias front-end (HTML, CSS, Javascript). Redis;
        CI/CD; Flask; Django; Google Cloud Platform; Tecnologias complementares (Vue.js).
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Cientista de Dados</h2>
    <span class="card-requirements">
      <p>
        Conhecimento avançado em SQL e processamento/consulta de grandes quantidades de dados;
        Conhecimento avançado de métodos estatísticos.
      </p>
      <p>
        <strong>Desejáveis:</strong> Conhecimento de Metodologias Ágeis; Conhecimento de análise de
        dados com python/R; Conhecimento básico de ferramentas de visualizações de dashboards
        (PowerBi); Conhecimento de Google Cloud Plataform ; Conhecimento de Google Bigquery;
        Vivência com bibliotecas para construção de modelos de Machine Learning (scikit-learn,
        statsmodels, tensorflow, transformers, etc).
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Desenvolvedor Android Sênior</h2>
    <span class="card-requirements">
      <p>
        Conhecimento Fluxo de Atualização de Loja Google Play; Metodologias ágeis; Banco de Dados
        Mongo DB/ SQL; Linguagem Kotlin.
      </p>
      <p>
        <strong>Desejáveis:</strong> Conhecimento no ramo financeiro/bancário; Atuado em rotina de
        sustentação.
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Dev. Java Jr.</h2>
    <span class="card-requirements">
      <p>Java 11. Mongo. Consul. Vault e Redis.</p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Analista QA Junior (Automação)</h2>
    <span class="card-requirements">
      <p>
        Metodologia Ágil, BDD, Gherkin Shift-Left Java Eclipse ou IntelliJ GIT Cucumber Maven
        Selenium.
      </p>
      <p>
        <strong>Desejável:</strong> Conhecimento em Appium, RestAssured, Selenium Grid, CI/CD,
        Jenkins e Nexus
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
  <div class="card-vaga">
    <h2>Back-End Java</h2>
    <span class="card-requirements">
      <p>
        Conhecimento em algoritmos e estrutura de dados; Vivência em cultura ágil (Scrum, Kanban,
        Lean); Estar familiarizado com mensageria (com Kafka, RabbitMQ ou similares); Conhecimento
        em bases de dados SQL e NoSQL; Domínio em Java, Framework Spring, Spring Boot, Spring cloud;
        Domínio em Kafka e arquitetura orientada a eventos; Conhecimento em MongoDB, PostgreSQL,
        DB2, Redis, Debezium, Kubernetes; Estar familiarizado com Azure, suas soluções ou outros
        providers; CI/CD.
      </p>
      <p>
        <strong>Diferenciais:</strong> Utilização dos frameworks reativos Vertex.io, Akka, Spring
        Web Flux, ReactiveX, ou algum outro, em produção; Conhecimento em cultura DevOps;
        Orquestração de Conteiners (Kubernetes, Openshift); Dynatrace e grafana.
      </p>
    </span>
    <span class="btn-vaga"> Ver Vaga </span>
  </div>
</section>
<footer class="footer">
	<div class="content" >
		<div class="copyright">
			<div class="social" >
				<a href="https://www.facebook.com/OpahIt/" target="_blank" class="facebook" title="Facebook"
					rel="noopener noreferrer"></a>
				<a href="https://www.instagram.com/opahitdigital/" target="_blank" class="instagram" title="Instagram"
					rel="noopener noreferrer"></a>
				<a href="https://pt.linkedin.com/company/opah-consulting/" target="_blank" class="linkedin"
					title="LinkedIn" rel="noopener noreferrer"></a>
				<a href="https://www.youtube.com/" target="_blank" class="youtube" title="YouTube"
					rel="noopener noreferrer"></a>
			</div>
			<div class="teste">
				<p>Av. Eng. Luis Carlos Berrini 936 – 12º andar <br>
					CEP 04571.000 – São Paulo <br>
					T. (11) 2806.3849</p>
			</div>
		
		</div>
	</div>
</footer>