<div fxLayout="column" fxLayoutAlign="stretch">
  <app-header select="section-header-transparent"></app-header>
</div>
<div class="espaco-cinza"></div>
<div class="espaco-preto"></div>
<div class="banner-mobile"></div>
<div class="parent">
  <div class="banner">
    <div class="child child-2" style="top: -40px">
      <div class="box-amarelo">
        <div class="h2 parent"><p>A Opah</p></div>
        <div class="h1 child">
          <p>
            Especialista em criação de soluções digitais e fã<br />
            da velocidade e eficiência na entrega dos <br />projetos, trabalhamos com
            profissionais<br />capacitados e apaixonados por tecnologia e<br />
            inovação. Nossas equipes são organizadas em<br />Squads multidisciplinares e integradas
            com os<br />
            clientes.
          </p>
        </div>
        <div class="h1 child">
          <p>
            Considerada uma das empresas de <br />desenvolvimento de sistemas que mais cresce no
            <br />Brasil, nossos trabalhos são elaborados e <br />executados sem perder o DNA Opah:
            amplo <br />know-how em tecnologias, trabalho em parceria <br />direta com clientes e
            flexibilidade para acessar a <br />equipe.
          </p>
        </div>
        <div class="h3">
          <p>
            Aqui, o <strong>seu</strong> negócio<br />
            é visto como <strong>nosso</strong> negocio.
          </p>
        </div>
        <div class="h3">
          <p>
            <strong>Vamos crescer juntos?</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content all-black">
  <div class="row">
    <div class="column_1">
      <div class="h2">
        <p>Nossa Historia</p>
      </div>
    </div>

    <div class="column_2">
      <div class="p">
        <p>
          Nascemos em 2010 através do trabalho de programadores <br />
          que tinham o desejo de encarar o mercado de tecnologia de <br />
          modo diferente. Assim, nos firmamos com o core de resolver <br />
          as dores dos clientes e se prontificar a atender de forma ágil,<br />
          sem burocracia, excelência na execução técnica e com pleno <br />
          conhecimento em tecnologias.
        </p>

        <p>
          Desde o início, valorizamos a parceria com nossos clientes de<br />
          modo a tornar-se seu braço direito em tecnologia.
        </p>

        <p>
          Nosso foco é a <strong>qualidade</strong>, <strong>domínio</strong> do que é oferecido ao
          <br />
          cliente e a entrega no <strong>prazo</strong>.
        </p>
      </div>
    </div>
  </div>
</div>
<section class="all-gray">
  <div class="content">
    <div class="row">
      <div class="column_1">
        <div class="h4">
          <p>Mas, por que Opah?</p>
        </div>
      </div>
      <div class="column_2">
        <div class="h5">
          <p>
            Opah é um peixe ágil que se adapta a diversos ecossistemas,<br />
            assim como nós, que somos rápidos nas entregas e capazes<br />
            de abraçar diferentes mudanças e necessidades.
          </p>
        </div>
        <div class="h5">
          <p>
            Por possuir sangue quente, esse peixe garante vantagem<br />
            competitiva e fácil adaptabilidade nas profundezas do<br />
            oceano, além de manter seu metabolismo acelerado e com<br />
            isso ter um reflexo rápido e ágil.
          </p>
        </div>
        <div class="h5">
          <p>
            A pronúncia certa é “opá”, mas independente dela, o nome<br />
            define muito bem nosso jeitinho de ser: rápidos, flexíveis e<br />
            prontos para encarar qualquer negócio!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="all-gray">
  <div class="content">
    <div class="box-white">
      <div class="item">
        <div class="checkmark"></div>
        <p></p>
        <div class="h6">
          <p>Excelencia no Trabalho</p>
        </div>
        <div class="h5">
          <p>
            Com quase 10 anos no mercado de tecnologia, ajudamos centenas de empresas com<br />
            desenvolvimentos e implementações personalizadas. Temos a experiência necessária para<br />
            fornecer os resultados e elevar suas operações ao próximo nível.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="checkmark"></div>
        <p></p>
        <div class="h6">
          <p>Parceria e Comprometimento</p>
        </div>
        <div class="h5">
          <p>
            Estamos comprometidos com o sucesso de nossos clientes. A cada passo, estaremos lá
            para<br />
            apoiar você e sua equipe, e garantir que tudo corra bem do começo ao fim. Somos
            obcecados<br />
            pelos resultados positivos nas nossas entregas.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="checkmark"></div>
        <p></p>
        <div class="h6">
          <p>Resolução de desafios</p>
        </div>
        <div class="h5">
          <p>
            Criar soluções digitais personalizadas que maximizem seu ROI é nosso principal
            objetivo.<br />
            Nossa equipe dedicada trabalhará com você para garantir que o projeto obtenha o
            máximo<br />
            valor de nossos serviços. Estamos sempre prontos para o próximo desafio!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fotos">
  <div class="row">
    <div class="row-mobile">
      <div class="column">
        <div class="img1"></div>
      </div>
      <div class="column">
        <div class="img2"></div>
      </div>
    </div>
  </div>
</section>
<div fxLayout="column" fxLayoutAlign="stretch">
	<app-footer select="footer"></app-footer>
</div>
