<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Orçamento</title>
</head>
<main class="main_opah">
	<section class="page_contato" fxLayout="column" fxLayoutAlign=" stretch">
		<div class="content" fxLayout="column" fxLayoutAlign=" stretch">
			<h2>Orçamento</h2>
			<div class="row" fxLayout="row" fxLayoutAlign="space-between stretch">
				<div class="column_1" fxLayout="row" fxLayoutAlign="space-between stretch">
					<span class="line"></span>
					<h3>Solicite seu orçamento!</h3>
					<p></p>
					<p>Basta preencher o formulário ao lado.</p>
					<div class="contato_linkedin">
						<a target="_blank" href="https://pt.linkedin.com/company/opah-consulting/" class="linkedin"
							title="LinkedIn" rel="noopener noreferrer"></a>
						<h3>Acesse nosso LinkedIn!</h3>

					</div>
				</div>
				<div class="column_2" >
					<div fxLayout="column" fxLayoutAlign=" stretch" class="wpforms-container wpforms-container-full"
						id="wpforms-185">
						<form id="wpforms-form-185" class="wpforms-validate wpforms-form" data-formid="185"
							method="post" enctype="multipart/form-data" action="/?page_id=988" novalidate="novalidate">
							<div fxLayout="column" fxLayoutAlign=" stretch" class="wpforms-field-container">
								<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-185-field_0-container"
									class="wpforms-field wpforms-field-name" data-field-id="0"><label
										class="wpforms-field-label" for="wpforms-185-field_0">Nome
										<span class="wpforms-required-label">*</span></label><input type="text"
										id="wpforms-185-field_0" class="wpforms-field-large wpforms-field-required"
										name="wpforms[fields][0]" required=""></div>
								<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-185-field_3-container"
									class="wpforms-field wpforms-field-text" data-field-id="3"><label
										class="wpforms-field-label" for="wpforms-185-field_3">Empresa <span
											class="wpforms-required-label">*</span></label><input type="text"
										id="wpforms-185-field_3" class="wpforms-field-large wpforms-field-required"
										name="wpforms[fields][3]" required=""></div>
								<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-185-field_9-container"
									class="wpforms-field wpforms-field-text" data-field-id="9"><label
										class="wpforms-field-label" for="wpforms-185-field_9">Celular <span
											class="wpforms-required-label">*</span></label><input type="text"
										id="wpforms-185-field_9" class="wpforms-field-large wpforms-field-required"
										name="wpforms[fields][9]" required=""></div>
								<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-185-field_1-container"
									class="wpforms-field wpforms-field-email" data-field-id="1"><label
										class="wpforms-field-label" for="wpforms-185-field_1">E-mail <span
											class="wpforms-required-label">*</span></label><input type="email"
										id="wpforms-185-field_1" class="wpforms-field-large wpforms-field-required"
										name="wpforms[fields][1]" required=""></div>
								<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-185-field_12-container"
									class="wpforms-field wpforms-field-text" data-field-id="12"><label
										class="wpforms-field-label" for="wpforms-185-field_12">Como chegou até nos?
										<span class="wpforms-required-label">*</span></label><input type="text"
										id="wpforms-185-field_12" class="wpforms-field-large wpforms-field-required"
										name="wpforms[fields][12]" required=""></div>
								<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-185-field_6-container"
									class="wpforms-field wpforms-field-select" data-field-id="6"><label
										class="wpforms-field-label" for="wpforms-185-field_6">Orçamento <span
											class="wpforms-required-label">*</span></label><select
										id="wpforms-185-field_6" class="wpforms-field-large wpforms-field-required"
										name="wpforms[fields][6]" required="required">
										<option value="R$ 150.000,00 - R$ 500.000,00">R$ 150.000,00 - R$ 500.000,00
										</option>
										<option value="R$ 500.000,00 - R$ 2.000.000,00">R$ 500.000,00 - R$ 2.000.000,00
										</option>
										<option value="Acima de R$ 2.000.000,00">Acima de R$ 2.000.000,00</option>
									</select></div>
								<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-185-field_2-container"
									class="wpforms-field wpforms-field-textarea" data-field-id="2"><label
										class="wpforms-field-label" for="wpforms-185-field_2">Nos
										conte um pouco do seu desafio de negócio <span
											class="wpforms-required-label">*</span></label><textarea
										id="wpforms-185-field_2" class="wpforms-field-medium wpforms-field-required"
										name="wpforms[fields][2]" required=""></textarea></div>
							</div>
							<div fxLayout="column" fxLayoutAlign=" stretch" class="wpforms-field wpforms-field-hp">
								<label for="wpforms-185-field-hp" class="wpforms-field-label">Email</label><input
									type="text" name="wpforms[hp]" id="wpforms-185-field-hp"
									class="wpforms-field-medium">
							</div>
							<div fxLayout="column" fxLayoutAlign=" stretch" class="wpforms-submit-container"><input
									type="hidden" name="wpforms[id]" value="185"><input type="hidden"
									name="wpforms[author]" value="1"><input type="hidden" name="wpforms[post_id]"
									value="988"><button type="submit" name="wpforms[submit]" class="wpforms-submit "
									id="wpforms-submit-185" value="wpforms-submit" aria-live="assertive"
									data-alt-text="Enviando...." data-submit-text="Enviar">Enviar</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

</html>